<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="http://localhost:8000/dist/css/tailwind.css">
    <link rel="stylesheet" href="/iamlazy/highlightjs-badge/highlightjs/styles/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/iamlazy/tailwindcss/style.css">
</head>

<body class="w-full">
    <h4 class="my-2">Examples</h4>

    <div class="my-2">
        <div class="alert alert-primary">This is a primary alert! </div>
        <div class="alert alert-secondary">This is a secondary alert! </div>
        <div class="alert alert-success">This is a success alert! </div>
        <div class="alert alert-danger">This is a danger alert! </div>
        <div class="alert alert-warning">This is a warning alert! </div>
        <div class="alert alert-info">This is a info alert! </div>
    </div>
    <pre class="my-5">
        <code class="hljs html">
&#x3C;div class=&#x22;alert alert-primary&#x22;&#x3E;This is a primary alert! &#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-secondary&#x22;&#x3E;This is a secondary alert! &#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-success&#x22;&#x3E;This is a success alert! &#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-danger&#x22;&#x3E;This is a danger alert! &#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-warning&#x22;&#x3E;This is a warning alert! &#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-info&#x22;&#x3E;This is a info alert! &#x3C;/div&#x3E;
        </code>
    </pre>

    <h4 class="my-2">Link Color</h4>
    <p>Use the <span class="text-red-500">.alert-link</span> class to quickly provide matching colored links within any alert.</p>
    <div class="my-2">
        <div class="alert alert-primary">
            This is a primary alert with <a href="#" class="alert-link">an example link</a>.
        </div>
        <div class="alert alert-secondary">
            This is a secondary alert with <a href="#" class="alert-link">an example link</a>.
        </div>
        <div class="alert alert-success">
            This is a success alert with <a href="#" class="alert-link">an example link</a>.
        </div>
        <div class="alert alert-danger">
            This is a danger alert with <a href="#" class="alert-link">an example link</a>.
        </div>
        <div class="alert alert-warning">
            This is a warning alert with <a href="#" class="alert-link">an example link</a>.
        </div>
        <div class="alert alert-info">
            This is a info alert with <a href="#" class="alert-link">an example link</a>.
        </div>
    </div>

    <pre class="my-5"><code class="hljs html">
&#x3C;div class=&#x22;alert alert-primary&#x22;&#x3E;
    This is a primary alert with &#x3C;a href=&#x22;#&#x22; class=&#x22;alert-link&#x22;&#x3E;an example link&#x3C;/a&#x3E;.
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-secondary&#x22;&#x3E;
    This is a secondary alert with &#x3C;a href=&#x22;#&#x22; class=&#x22;alert-link&#x22;&#x3E;an example link&#x3C;/a&#x3E;.
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-success&#x22;&#x3E;
    This is a success alert with &#x3C;a href=&#x22;#&#x22; class=&#x22;alert-link&#x22;&#x3E;an example link&#x3C;/a&#x3E;.
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-danger&#x22;&#x3E;
    This is a danger alert with &#x3C;a href=&#x22;#&#x22; class=&#x22;alert-link&#x22;&#x3E;an example link&#x3C;/a&#x3E;.
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-warning&#x22;&#x3E;
    This is a warning alert with &#x3C;a href=&#x22;#&#x22; class=&#x22;alert-link&#x22;&#x3E;an example link&#x3C;/a&#x3E;.
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;alert alert-info&#x22;&#x3E;
    This is a info alert with &#x3C;a href=&#x22;#&#x22; class=&#x22;alert-link&#x22;&#x3E;an example link&#x3C;/a&#x3E;.
&#x3C;/div&#x3E;
    </code></pre>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"></script>
    <script src="/iamlazy/highlightjs-badge/highlightjs/highlight.pack.js"></script>
    <script src="/iamlazy/highlightjs-badge/highlightjs-badge.min.js"></script>
    <script>
        // apply HighlightJS
        var pres = document.querySelectorAll("pre>code");
        for (var i = 0; i < pres.length; i++) {
            hljs.highlightBlock(pres[i]);
        }

        // add HighlightJS-badge (options are optional)
        var options = { // optional

            // CSS class(es) used to render the copy icon.
            copyIconClass: "fas fa-copy",
            // CSS class(es) used to render the done icon.
            checkIconClass: "fas fa-check text-success"
        };
        window.highlightJsBadge(options);
    </script>
</body>

</html>