{% if site.comments.disqus.shortname %}
<script>
  var disqus_config = function () {
    this.page.url =
      "{{ page.url | absolute_url }}"; /* Replace PAGE_URL with your page's canonical URL variable */
    this.page.identifier =
      "{{ page.id }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
  };
  (function () {
    /* DON'T EDIT BELOW THIS LINE */
    var dsq = document.createElement("script");
    var head = document.getElementsByTagName("head")[0];
    var body = document.getElementsByTagName("body")[0];

    dsq.type = "text/javascript";
    dsq.async = true;
    dsq.src = "//{{ site.comments.disqus.shortname }}.disqus.com/embed.js";

    (head || body).appendChild(dsq);
  })();
  DISQUS.reset({
    reload: true,
    config: disqus_config,
  });
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
>
{% endif %}
